* {
    margin: 0;
    padding: 0;
    box-sizing: 0; 
    overflow-x: hidden;
}

:root{
    --ff-sora: "Sora", sans-serif;
    --ff-robotof: "Roboto Flex", sans-serif;
    --ff-robotom: "Roboto Mono", monospace;

    --display-large: 900 4.5rem/1.3 var(--ff-sora);
    --display-medium: 900 2.5rem/1.5 var(--ff-sora);
    --display-small: 700 2rem/1.3 var(--ff-sora);

    --overline: 700 1rem/1.5 var(--ff-robotom);

    --p-l: 400 1rem/1.5 var(--ff-robotof);
    --p-m: 400 .875rem/1.5 var(--ff-robotof);
    --p-s: 400 .75rem/1.5 var(--ff-robotof);
    --label-m: 700 1.25rem/1.5 var(--ff-robotof);
    --label-s: 700 1rem/1.5 var(--ff-robotof);

    /* variaveis de cores */
    /* content */
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    /* background */
    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;

    /* gradient */
    --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;
    --gradient-background:#D586E0 0%, #91A1FA 98.93% ;
    --gradient-content: #C7C9CC 0%, #3D3D3D 100%;
}

body{
    background: url(/assets/background.png),
     linear-gradient(to bottom, black, rgba(0, 0, 0, 0.800));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 84vh;
}

input{
    border: none;
    outline: none;
}

a{
    text-decoration: none;
}