header{
    padding-bottom: 2.5rem;
    /* flex justify-center gap-1 align-center */
    justify-content: center;
    gap: 1rem;
    align-items: center;
    img{
        width: 38px;
        height: 38px;
    }

    h1{
        font-family: var(--ff-sora);
        font-size: 900 1.5rem/1.5;
        color: var(--content-primary);
    }
} 

@media screen and (width >=1024px){
    header{
        padding-block: 5.5rem;
        justify-content: start;
} 
}