.hero{
    h3{
        color: var(--content-secondary);
        font: var(--overline);
    }
    
    h2{
        font: var(--display-medium);
        color: var(--content-primary);
        margin-top: 1rem;
    }
}

.principal{
    .introduction{
        padding-bottom: 2.5rem;
        
        h3{
        font: var(--label-m);
        text-transform: uppercase;
        color: var(--content-primary);
        }
        p{
            font: var(--p-m);
            color: var(--content-tertiary);
        }
    }

    #input-numbers{
        padding-bottom: 1rem;
        h3{
            font: var(--label-m);
            color: var(--content-secondary);
            text-transform: uppercase;
        }
    }

    #toggle{
        font: var(--p-m);
        color: var(--content-primary);
    }
}

footer{
    h3{
        font: var(--p-l);
        color: var(--content-brand);
    }
    p{
        font: var(--p-m);
        color: var(--content-secondary);
        padding-bottom: 2rem;
    }
}

.numbers{
    height: 3.5rem;
    width: 6rem;
    border: 0;
    text-align: center;
    border-radius: 8px;
    font: var(--display-small);
    color: var(--content-primary);
    background:var(--background-secondary);
}

.btn{
    border: 0;
    border-radius: 8px;
    width: 100%;
    padding-block: 1rem;
    font: var(--label-m);
    color: var(--content-primary);
    background-color: var(--background-tertiary);
    gap: 8px;
}

.toggle-switch{
    width: 30px;
    height: 20px;
    border: 0;
    border-radius: 16px;
    background: var(--content-tertiary);
    cursor: pointer;  
}

.switch-off{
        left: 1;
        background-color: white;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin-inline: 3px;
    }

.switch-on{
    background-color: white;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-inline: 3px;
    margin-left: auto;
}

@media screen and (width >= 1025px){
    .btn{
    width: 30rem;
    
}
}